body{
    font-family: 'diodrum'!important;
}
/* -------------------------------------------------- first section */
.slider{
    height: calc(100% - 100px)!important;
}
.slider img{
    width: 100%;
}
.slick-slide{
    height: calc(100% - 100px)!important;
}
.logo-intro{
    min-height: 80px!important;
}
.menu-intro{
    min-height: 135px;
    background-color:  #f9f9f9;
}
.menu-intro div{
    min-height: 135px;
}
.blue-title{
    /*font-size: 28px;*/
    font-size: 1rem;
    color: #0060ae;
    font-weight: bold;
}
.slick-dots{
    bottom: 16px!important;
}
.slick-dotted.slick-slider{
    margin-bottom: 0!important;
}
.heigh50{
    height: 50px!important;
}
.first-slide{
    background-image: url("../assets/images/slide-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.second-slide{
    background-image: url("../assets/images/slide-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.third-slide{
    background-image: url("../assets/images/slide-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
/* -------------------------------------------------- second section */
.section2-right-div{
    background-image: url("../assets/images/about-arsha-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.section2-left-div{
    background-color: #f9f9f9!important;
}
/* -------------------------------------------------- second three */
.light-title{
    /*font-size: 28px;*/
    color: #b3b3b3;
    font-weight: bold;
}
.submit-btn{
    background-color: #b3b3b3!important;
    /* font-size: 36px; */
    color: #ffffff!important;
    font-weight: bold!important;
    padding: 7px 40px!important;
    border-radius: 0!important;
}
/* -------------------------------------------------- four three */

/* -------------------------------------------------- global classes */
.mt-30{
    margin-top: 30px!important;
}
.mb-30{
    margin-bottom: 30px!important;
}
input{
    border-radius: 0!important;
}
.green-color{
    color: #00a551;
    font-weight: bold;
}
.gray-bg{
    background-color: #b3b3b3!important;
}
.dark-blue-bg{
    background-color: #003054;
}
.white-color{
    color: white;
}